header{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 20% auto 20%;
}
.grid-header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.grid-left{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: rgb(0, 0, 0);
}
.grid-right{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: rgba(0, 0, 0, 1);
}
.grid-nav{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.grid-footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
ul{
    list-style-type: none;
    margin: 0ex;
    padding: 0em;
    width: 100%;
    height: 100%;
    background-color: #bbb;
}
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #888;
}
li a.active{
    background-color: #666;
}
